---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 1100px;

    section {
        width: 800px;
    }
}

.post-list {
    list-style: none;
}
